.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  position: relative;
}
.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.nav__notificationfor {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 15px;
  display: flex;
  justify-content: ;
  align-items: center;
  color: white;
  right: -120px;
  font-weight: 600;
  position: absolute;
  bottom: 25px;
}
